
@{
    ViewBag.Title = "Restart Hasła";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Twój kod do restowania hasła został wysłany na podany adres email</h2>




<div>
    @Html.ActionLink("Przejdz do podania kodu resetującego hasło", "ResetPasswordCheckGuid")
</div>
