@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div class="jumbotron" style="
    overflow:auto; 
    position: absolute; 
    z-index: 0; 
    font-size: 30px;
    font-family: Mali;
    background-color: antiquewhite;
    top: 50%; 
    left: 0%;">
    <h1>O Nas - Psi Raj</h1>
    <p>
        <h>Schronisko Psi Raj funkcjonuje od 2019 r. Prężnie się rozwijamy i liczymy na twoją pomoc! Pytasz się co możesz zrobic?</h>
    </p>
    <p>
        <h3>Zarejestruj się jako wolontariusz!</h3>
    </p>
    <p>
        <h4>
            Będziesz mógł zapisywać się na wydarzenia i pomagać pracownikom Schroniska. Bedziesz
            mógł spędzić czas z psami, wyprowadzić je na spacer, nakarmić i wiele innych. Może z czasem w którymś się zakochasz i
            zabierzesz do domu.
        </h4>
    </p>
    <p>
        <h3> Pomoc materialna i finansowa</h3>
    </p>
    <p>
        <h4>
            Jeśli chciałbyś nam pomóc, lecz nie masz czasu na wolontariat, możesz wesprzeć schronisko finansowo, bądź materialnie.
            Wszelkie informacje możesz zdobyć mailowo lub telefonicznie. <a href="#">@Html.ActionLink("Kontakt", "Contact", "Home")</a>
        </h4>

    </p>

</div>