@{
    ViewBag.Title = "About";
}
<div>

        <img style="display: block; margin: 20px; width:350px;height: auto; float:left " src="~/Images/About/pies-930x600.jpg" />


   

        <div>
            <h1>O Nas - Psi Raj</h1>
            <p>
                <h4>Schronisko Psi Raj funkcjonuje od 2019 r. Prężnie się rozwijamy i liczymy na towją pomoc! Pytasz sięco możesz zrobic?</h4>
            </p>
            <p>
                <h3>Zarejestruj się jako wolontariusz!</h3>
            </p>
            <p>
                <h4>
                    Będziesz mógł zapisywać się na wydarzenia i pomagać pracownikom Schroniska. Bedziesz
                    mógł spędzić czas z psami, wyprowadzić je na spacer, nakarmić i wiele innych. Może z czasem w którymś się zakochasz i
                    zabierzesz do domu.
                </h4>
            </p>
            <p>
                <h3> Pomoc materialna i finansowa</h3>
            </p>
            <p>
                <h4>
                    Jeśli chciałbyś nam pomóc, lecz nie masz czasu na wolontariat, możesz wesprzeć schronisko finansowo, bądź materialnie.
                    Wszelkie informacje możesz zdobyć mailowo lub telefonicznie. <a href="#">@Html.ActionLink("Kontakt", "Contact", "Home")</a>
                </h4>

            </p>

        </div>
</div>