@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Psi Raj</h1>
    <p class="lead">Schronisko dla psów.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Aktualności</h2>

    </div>
    <div class="row">
        @Html.Action("ShowNewses", "News")
    </div>
</div>