@{
    ViewBag.Title = "Strona Domowa";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div class="bg-text">
    <h2>Schronisko dla psów</h2>
    <h1 style="font-size:60px">Psi Raj</h1>
    <p style="font-size:25px">Dowiedz się @Html.ActionLink("o nas", "About", "Home") czegoś więcej i podaj pomocną łapę! :)</p>
</div>



<div class="jumbotron" style="overflow:auto">
    
    <div style="margin-top:35px">
        <h1>Aktualności</h1>
        <p>
            @Html.Action("ShowNewses", "News")
        </p>
    </div>
</div>
