body {
    background-image: url("~/Images/Home/piesPrzyTytule2.jpg");
    /*//background-color: aqua;*/
    /*background-repeat: no-repeat;*/
    background-size: cover;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Lato", sans-serif;
}



#container {
    background-image: url("~\Images\Tosiowe\speedpainting_tutorial___aiur_by_soldatnordsken-d4yi3ky.jpg");
}

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-left: 15px;
    padding-right: 15px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 50px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#sidebar {
    margin: 1em 0 7em -3em;
    padding: 1em 0 0 0;
    background-color: #ffffff;
    color: #996600;
    width: 25%;
    float: left;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

